.qrcode-text-btn {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url(qr_icon.svg) 50% 50% no-repeat;
    cursor: pointer;
  }

  .my-button:disabled, .a:disabled, button:disabled {
    color: rgb(170, 170, 170);
    background-color: rgb(231, 232, 233);
}
.my-button {
    background-color: #EE6E73;
    color: aliceblue;
    margin: 10 30;
    width: 100%;
}